version: '3.8'
services:
  app:
    build:
      context: .
      target: backend
    container_name: gestor_app
    volumes:
      - ./backend:/app/backend
    expose:
      - 8000

  nginx:
    build:
      context: .
      target: nginx-server
    container_name: gestor_nginx
    ports:
      - "8080:80"
    depends_on:
      - app
